<form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="mb-3 form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email"
      [ngClass]="{'is-invalid': submitted && fm['email'].errors }" id="email" placeholder="Your Email.....">
    <!-- <div *ngIf="submitted && fm['email'].errors" class="invalid-feedback">
      <div *ngIf="fm['email'].errors['required']">Email is Required</div>
    </div> -->
    <div *ngIf="submitted && (fm['email'].errors || fm['email'].dirty || fm['email'].touched)" class="invalid-feedback">
      <div *ngIf="fm['email']?.errors?.['required']">Email is required.</div>
      <div *ngIf="fm['email']?.errors?.['minlength']">Enter 3 to 80 character</div>
      <div *ngIf="fm['email']?.errors?.['maxlength']">Enter 3 to 80 character</div>
      <div *ngIf="fm['email']?.errors?.['email'] && !fm['email']?.errors?.['minlength'] && !fm['email']?.errors?.['maxlength']">Invalid email format.</div>
    </div>
  </div>

  <div class="btns">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>